{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="column">
        <h4 class="text-center">Welcome to StoryTime</h4>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form"  id="story-create_form" method="POST" action ="stories/create-story">
            {% csrf_token %}
            <div class="d-none alert alert-danger" id="handleFormCreateStoryError"></div>
            <input type="hidden" value="/" name="next"/>
            <textarea class="form-control border rounded py-3 mb-2" required="True" name="content" placeholder="Your Story......"></textarea>
            <button class="btn btn-primary" type="submit">Post</button>
        </form>
    </div>
</div>
<div  class="row" id='Stories'>
</div>




<script>


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    const storyContainerElement = document.getElementById("Stories")
    const storyCreateFormElement = document.getElementById("story-create_form")
    storyCreateFormElement.addEventListener("submit",handleStoryCreateFormDidSubmit)

    function  handleFormCreateStoryError(message,display){
        var alertElement = document.getElementById("handleFormCreateStoryError")
        if (display === true){
            alertElement.setAttribute("class","alert alert-danger")
            alertElement.innerText = message
        }else{
            alertElement.setAttribute("class","d-none alert alert-danger")
        }
    }


    function handleStoryCreateFormDidSubmit(event){
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm);
        
        const method = myForm.getAttribute("method")
        const endpoint = myForm.getAttribute("action")
        const responseType = "json"

        const xhr = new XMLHttpRequest()
        xhr.responseType = responseType
        xhr.open(method,endpoint)
        xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")

        xhr.onload = function (){
            if (xhr.status === 201){
                handleFormCreateStoryError("",false)
                let newStory = xhr.response
                let newStoryFormatted = formatStory(newStory)
                const ogHtml = storyContainerElement.innerHTML
                storyContainerElement.innerHTML = newStoryFormatted+ogHtml
                myForm.reset()
            }else if (xhr.status === 400){
                const errorMessage = xhr.response.content[0]
                if (errorMessage){
                    console.log(xhr.response)
                    handleFormCreateStoryError(errorMessage,true)
                }else{
                    alert("An error occured.Please try again")
                }
            }else if (xhr.status === 500){
                alert("Server error.Try again later")
            }else if (xhr.status === 401){
                alert("You must log in")
                window.location.href = '/login'
            }else if (xhr.status === 403){
                alert("You must log in")
                window.location.href = '/login'
            }
            }
            xhr.onerror = function(){
                alert("An error occured.Please try again")
            }
            xhr.send(myFormData)
        }


       
        

    

    function loadStories(storiesEl){
        const xhr = new XMLHttpRequest()
        const method = "GET"
        const endpoint = "stories"
        const responseType = "json"

        xhr.responseType = responseType
        xhr.open(method,endpoint)
        xhr.onload = function () {
            console.log(xhr.response)
            let storiesList = xhr.response

            let finalStoryString = ''
            storiesList.forEach(element => {
                finalStoryString += formatStory(element)
            }); 
            storiesEl.innerHTML = finalStoryString
        }
        xhr.send()
    }

    function formatStory(story) {
        let storyString = `<div class ='col-12 col-md-10 mx-auto border rounded py-3 mb-4 story' id='story-${story.id}'>
            <p>${story.content}</p>
            <div class='btn-group'>${LikeBtn(story)}</div> 
            </div>`
        return storyString
    }

    function handleLikeButton(id){
        const method = "POST"
        const endpoint = "stories/action"
        const responseType = "json" 
        const csrftoken = getCookie('csrftoken')
        const data = JSON.stringify({
            id:id,
            action:"like",

        })
        

        const xhr = new XMLHttpRequest()
        xhr.responseType = responseType
        xhr.open(method,endpoint)
        xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
        xhr.setRequestHeader("Content-Type","application/json")
        xhr.setRequestHeader("X-CSRFToken",csrftoken)
        xhr.onload = function () {
            loadStories(storyContainerElement)
        }
        xhr.send(data)

    }

    function LikeBtn(story){
        return `<button class='btn btn-primary btn-sm' onclick=handleLikeButton(${story.id})>${story.likes} Likes</button>`
    }

    loadStories(storyContainerElement)

    
</script>

{% endblock content %}
