{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="column">
        <h4 class="text-center">Welcome to StoryTime</h4>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form"  id="story-create_form" method="POST" action ="stories/create-story">
            {% csrf_token %}
            <input type="hidden" value="/" name="next"/>
            <textarea class="form-control border rounded py-3 mb-2" required="True" name="content" placeholder="Your Story......"></textarea>
            <button class="btn btn-primary" type="submit">Post</button>
        </form>
    </div>
</div>
<div  class="row" id='Stories'>
</div>




<script>

    function handleStoryCreateFormDidSubmit(event){
        event.preventDefault();
        const myForm = event.target;
        const myFormData = new FormData(myForm);
        const url = myForm.getAttribute("action");
        const method =  myForm.getAttribute("method");
        const responseType = "json";
    
        const xhr = new XMLHttpRequest();
        xhr.responseType = responseType;
        xhr.open(method,url);
        xhr.setRequestHeader("X-Requested-With","XMLHttpRequest");
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest");    
        xhr.onload = function(){
            if (xhr.status === 201){
                const newStoryJson = xhr.response;
                // const newStoryJson = JSON.parse(newStory);
                const newStoryFormat = formatStory(newStoryJson);
                const orgHtml = storiesContainerElement.innerHTML;
                storiesContainerElement.innerHTML = newStoryFormat + orgHtml;
                myForm.reset();
            }else if (xhr.status === 400){
                const errorJson = xhr.response;
            }else if (xhr.status === 500){
                alert('There was a server error.Please try again later');
            }
            
        }
        xhr.onerror =  function(){
            alert('An error ocurred .Please try again later')
        }
        xhr.send(myFormData) 
    }



    
    const formElement = document.getElementById("story-create_form")
    formElement.addEventListener('submit',handleStoryCreateFormDidSubmit)


    const storiesContainerElement = document.getElementById('Stories');

    function loadStories(storiesElement){
        
        const xhr = new XMLHttpRequest();
        const method = "GET";
        const url = "/stories"
        const responseType = 'json';
        xhr.responseType = responseType;
    
        xhr.open(method,url);
        xhr.onload = function(){
            const serverResponse = xhr.response;
            let storiesList = serverResponse.response;
            let finalStoryStr = '';
            storiesList.forEach(element => {
                let currentItem = formatStory(element);
                finalStoryStr += currentItem;
                
            });
            storiesElement.innerHTML = finalStoryStr;
        };
        
        xhr.send()

    }
    loadStories(storiesContainerElement);

    function handleLikeButton(storyId,likes){
        console.log(storyId,likes)

    }

    function LikeBtn(story){
        return `<button class='btn btn-primary btn-sm' onclick=handleLikeButton(${story.id},${story.likes})>${story.likes} Likes</button>`
    }

    function formatStory(story){
        let formattedStory = `<div class ='col-12 col-md-10 mx-auto border rounded py-3 mb-4 story' id='story-${story.id}'>
            <p>${story.content}</p>
            <div class='btn-group'>${LikeBtn(story)}</div> 
            </div>`
        return formattedStory

    }

    
</script>

{% endblock content %}
